dapr==1.13.0
fastapi==0.109.1
dapr-ext-workflow>=0.4.1
grpcio==1.64.1
pydantic==2.4.2
requests==2.31.0
uvicorn==0.23.2
email-validator==2.1.1
stripe~=9.9.0
pre-commit>=3.7.1
black>=24.4.2
ruff >=0.5.0